{% extends "layouts/base.html" %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">练习错题统计系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link active" href="/student/index">全部练习 <span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form>
                <h3>{{exercise[1]}}</h3>
                {% for q in exercise[2] %}
                <fieldset class="form-group">
                    <div class="row">
                    <legend class="col-form-label col-sm-3 pt-0">{{q[0]}} - 答案：{{q[1]}}</legend>
                    <div class="col-sm-3">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{q[0]}}" value="True" {% if answer and answer[q] %}checked{% endif %}>
                        <label class="form-check-label" for="gridRadios1">
                            正确
                        </label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{q[0]}}" value="False" {% if answer and answer[q] == False %}checked{% endif %}>
                        <label class="form-check-label" for="gridRadios2">
                            错误
                        </label>
                        </div>
                    </div>
                    </div>
                </fieldset>
                {% endfor %}
                <button id="save" type="submit" class="btn btn-primary">保存</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %} 
<script>
var questions = {{exercise[2]}};
var answer = {{answer}};
$(function() {
    var init = function() {
        for(var i = 0; i < questions.length; i++) {
            if(answer != null) {
                if (answer[questions[i][0]] != undefined) {
                    $("input[name='" + questions[i][0] + "'][value='" + answer[questions[i][0]] + "']").prop('checked', true);
                }
            }     
        }
    }
    init();
    $("#save").click(function(e) {
        e.preventDefault();
        var answerPost = {};
        for(var i = 0; i < questions.length; i++) {
            var a = $("input[name='" + questions[i][0] + "']:checked").val()
            if(a != undefined) {
                answerPost[String(questions[i][0])] = a;
            }
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/student/exercise/post/{{student[0]}}/{{exercise[0]}}",
            data: {'data': JSON.stringify(answerPost)},
            dataType: 'json',
            success: function(result) {
                if(result['success']) {
                    alert('提交成功');
                    window.location.reload();
                } else {
                    alert(result['message']);
                }
            }
        });
    }); 
});
</script>
{% endblock %}